*{box-sizing: border-box;}
body {
    background-color:peru
      }

#div1, #div2, #div3 {
    background-color: skyblue;
    margin: 40px;
    float: left;
    width: 200px;
    height: 300px;
    padding: 10px;
    border: 1px solid white 
  }
.h1{
    color: violet;
    font-size: 40px;
    text-align: left;
}
 .h2{
     text-align: center;
     font-size: 20px;
     color: thistle;
 }
footer{
margin-top: 700px;
font-size: 15px;
padding: 2px;
background-color: whitesmoke;
text-align: center;
}
 @media screen and (max-width:640px) {
    footer {
        width: fit-content;
     }
     
 }
 .topnav{
     overflow: hidden;
     background-color: #e9e9e9;
 }

 .topnav a {
   display: inline;
   margin: 10px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
 .topnav a:hover{
     background-color: #ddd;
     color: black;
 }

 .topnav a:active{
background-color: #2196f3;
color: white;
 }
 .topnav .search-container {
float: right;
 }

 .topnav input[type=text]{
padding: 6px;
margin-top: 8px;
border: none;
 }

 .topnav .search-container button{
     float: right;
     padding: 6px;
     margin-top: 8px;
     margin-right: 16px;
     background: #ddd;
     border: none;
     cursor: pointer;
 }

 .topnav .search-container button:hover{
     background: #ccc;
 }

 @media screen and (max-width:640px) {
     .search-container{
         float: none;
     }
 }
 .topnav a, .topnav input[type=text], .topnav .search-container button{
     float: none;
     display: block;
     text-align: left;
     width: 100%;
     margin: 0;
     padding: 14px;
 }
 .topnav input[type=text]{
     border: 1px solid #ccc;
 }